{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Listing: {{ listing.title }}</h1>

    <div>
        {% if listing.image_url %}
        <img src={{ listing.image_url }} alt="invalid url">
        {% endif %}
    </div>

    <div>
        {{ listing.description }}
    </div>

    <div>
        Starting Bid: {{ listing.starting_bid_price }}

        {{ current_bid_message }}

    </div>

    <div>
        <h3>Details</h3>
        <ul>
            <li> Listed by: {{ listing.username }}</li>
            <li> Posted on: {{ listing.post_date }}</li>
            <li> Category : {{ listing.category }}</li>
            <li> Status: {{ listing.status }}</li>
        </ul>
    </div>

    <div>
        <form action="{% url 'watchlist' %}", method="POST">
            {% csrf_token %}
            <input type="hidden" name="add_listing" value={{ listing.pk }}>
            <input type="submit" name="add_to_watchlist" value="Add to Watchlist">
        </form>
    </div>

    <div>
        <form action="{% url 'bidding' %}", method="POST">
            {% csrf_token %}
            <label>Bid</label>
            <input type="number" name="bid_amount" min="0" max="99999999.99" value="0">
            <input type="hidden" name="bid_listing" value="{{ listing.title }}">
            <input type="submit">
            <h10>Max: $99,999,999.99; Two decimal places required.</h10>
        </form>
    </div>

    <div>
        {% if message %}
            {{ message }}
        {% endif %}
    </div>

    <div>
        <h3>Comments</h3>
    </div>





{% endblock %}