{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Watchlist</h1>

    {% if message %}
        {{ message }}
    {% endif %}

    <ul>
        {% for listing in listings %}
            <li><a href = "{% url 'listing_page' listing.pk %}">{{ listing.title }}</a></li>
        {% endfor %}
    </ul>

    <h5>Remove From Watchlist</h5>
    <form action = "{% url 'watchlist_remove' %}" method="POST">
        {% csrf_token %}
        <select name="watchlist_remove">
            {% for listing in listings %} 
                <option value="{{ listing.title }}"> {{ listing.title }} </option> 
            {% endfor %}
        </select>
        <input type="submit">
    </form>

{% endblock %}